:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'inter';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    align-items: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50% ;
}

.titulo__principal {
    font-weight: 700;
    font-size: 28px;

}

.container__bloco {
    margin: 0 6em;
    
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.botao__alura {
    background-color: var(--botao-azul);
    padding: 1em;
    color: var(--branco-principal);
    border-radius: 5px;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao__secundario {
    background-color: transparent;
    border-color: var(--branco-principal);
    border: 2px solid;
    margin-bottom: 0;

}

.aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;

}

.secundario__texto {
    color: var(--cinza-secundario);
}

.botao__assine {
    display: inline-block;
    margin-top: 1em;
}

.imagem__segundobloco {
    margin-left: 2em;
}

.dispositivos__titulo {
    font-size: 48px;
    text-align: center;
    color: var(--branco-principal);

}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    text-align: center;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
      
}

.rodape__lista {
    display: flex;
    justify-content: space-between;
    margin: 40px 158px 6px 158px;
    color: var(--branco-principal);
    list-style-type: none;
    font-size: 16px; 
}

.lista__itens {
    color: var(--branco-principal);
   
}

.lista__links {
    text-decoration: none;
    color: var(--branco-principal);
}

.rodape__texto__principal {
    color:var(--cinza-secundario);
    font-size: 20px;
    margin: 1em 0;
    
}
.rodape__texto {
    color: var(--cinza-secundario);
    font-size: 14px;
    margin: 0 120px 80px 120px;
}

.lista__links:hover {

    color:var(--botao-azul)
}